<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" /> -->
		<property name="locations">
			<list>
				<!-- dev -->
				<value>classpath*:bootstrap.properties</value>
				
				<!-- beta
				<value>file:${project.dir}/beta/jdbc.properties</value>
				<value>file:${project.dir}/beta/frame.conf</value>
				 -->
				
				<!-- release
				<value>file:${project.dir}/config/jdbc.properties</value>
				<value>file:${project.dir}/config/frame.conf</value>
				 -->
			</list>
		</property>
	</bean>
	
	<!-- 激活spring的注解. -->
	<context:annotation-config />

	<context:component-scan base-package="com.*" />
	<!-- AOP自动代理功能 -->
    <aop:aspectj-autoproxy/>
	
	<!-- <import resource="spring/applicationContext-constants.xml"/> -->
	<import resource="spring/applicationContext-ds.xml"/>
	<import resource="spring/applicationContext-threadpool.xml"/>
	<import resource="spring/applicationContext-interceptor.xml"/>
</beans>